/* UserCF */
.UserCF_title {
  margin:5px 0;
}
.UserCF_item {
  
  text-align: center;
}
.UserCF_item_div {
  /* flex:1; */
  width: 10em;
}

.UserCF_item_div>p {
  width: 8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.UserCF_item_div>img {
  height: 170px;
}
/* test */